*

!.gitignore

!.npmignore

!.editorconfig

!LICENSE

!*.sh
!*.json
!*.md
!*.txt
!*.xml

!*.js
!*.mjs
!*.html
!*.css

!*.ico
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.svg

!*/

!*/.gitignore

!*/.npmignore

!*/.editorconfig

!*/LICENSE

!*/*.sh
!*/*.json
!*/*.md
!*/*.txt
!*/*.xml

!*/*.js
!*/*.mjs
!*/*.html
!*/*.css

!*/*.ico
!*/*.jpg
!*/*.jpeg
!*/*.png
!*/*.gif
!*/*.svg

package-lock.json

node_modules
node_modules/**/*.*
